:root{
    --primary: #35BACD;
    --secondary: #454545;
    --tertiary: #2999AB;
    --font-small: #5F7483;
    --light: #ffff;
    --footer-text: #C3C3C3;
    --bg-foter: #04343C;
    --service-title: #0C5F6C;

}
.navbar-nav li a{
    font-family: 'Poppins', sans-serif;
}
*{
    font-family: 'Montserrat', sans-serif;
}
.primary{
    color: var(--primary);
}
.service-t{
    color: var(--service-title);
}
.sev-2{
    margin-left: -28rem;
}
.footer-bg{
    background-color: var(--bg-foter);
}
.ul-l ul {
    list-style-type: none;
    padding-left: 0;
}
.ul-l ul li a {
    color: #ffff;
    margin-bottom: 15px;
    text-decoration: none;
    color: var(--footer-text);
}
.secondary{
    color: var(--secondary);
}
.shadow-s{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
}
.tertiary{
    color: var(--tertiary);
}
.font-sm{
    color: var(--font-small);
}
.bg-primary{
    background-color: var(--primary) !important;
    color: var(--light);
}
.s-tab {
    height: 100%;
}
.s-tab li{
    background-color: white;
}
.s-tab .nav-link.active, .nav-pills .show>.nav-link{
    background-color: var(--primary) !important;
    color: var(--light);
}
.s-tab .nav-link{
    color: var(--primary);
    font-weight: 600;
    width: 100%;
    padding: 15px;
    border-radius: 0px;
    font-size: 22px;
}
.font-h{
    font-size: 45px;
}
.font-p{
    font-size: 12px;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: var(--primary);
    font-weight: 700;
}
.bg-banner{
    background: linear-gradient(257.87deg, rgba(16, 35, 47, 0.4845) 26.36%,rgba(3, 25, 29, 0.820403) 55.04%, rgba(1, 24, 28, 0.85) 90.91%), url(../img/homebanner.png);
    background-size: cover;
    background-position: center;
    height: 600px;
}
.f-h5 h5{
    font-size: 18px;
}
.choose-bg::before{
    background-color: #EBFCFF;
    content: "";
    z-index: -1;
    position: absolute;
    height: 558.4px;
    left: 6%;
    align-items: center;
    display: flex;
    width: 121.522px;
    margin-top: -41px;
}
.choose-bg::after{
    background-color: #35BACD;
    background-color: var(--primary);
    content: "";
    z-index: -1;
    position: relative;
    height: 12%;
    left: -5%;
    align-items: center;
    display: flex;
    width: 12%;
    top: 71%;
}
.bg-dot::after{
    background-image: url(../img/bg-dot.svg);
    content: "";
    z-index: -1;
    position: relative;
    height: 12%;
    left: -5%;
    align-items: center;
    display: flex;
    width: 12%;
    top: 71%;
}
.aboutbg::before{
    background-color: #35BACD;
    background-color: var(--primary);
    top: 85rem;
    content: "";
    z-index: -1;
    position: absolute;
    height: 101.4px;
    left: 6%;
    width: 135.913px;
    bottom: 0;
}
.choose-bg1::after{
    background-color: var(--primary);
    content: "";
    z-index: -1;
    position: absolute;
    height: 25.2px;
    right: 2%;
    align-items: center;
    display: flex;
    width: 91.15px;
    margin-top: -41px;
}
.our-doc::before{
    background-image: url(../img/Ellipse.svg);
    content: "";
    z-index: -1;
    position: absolute;
    height: 138.5px;
    background-size: cover;
    right: 32%;
    align-items: center;
    display: flex;
    width: 151.931px;
    margin-top: -94px;
}
// .our-doc1::after{
//     background-image: url(../img/circle-svg.svg);
//     content: "";
//     z-index: -1;
//     position: absolute;
//     height: 29%;
//     background-size: cover;
//     right: 3%;
//     align-items: center;
//     display: flex;
//     width: 10%;
//     bottom: -350%;
// }
.our-doc2::before{
    background-image: url(../img/semicircle.svg);
    content: "";
    z-index: -1;
    position: absolute;
    height: 117.15px;
    background-size: cover;
    right: 0%;
    align-items: center;
    display: flex;
    width: 91.15px;
}

.middle-bg{
    background-image: linear-gradient(257.19deg, rgba(11, 34, 48, 0.85) 14.1%, rgba(30, 109, 120, 0.85) 88.13%), url(../img/middle-banner.png);
    background-size: cover;
    background-position: center;
    margin-top: 18rem;
    margin-bottom: 5rem;
}
.contact-bg{
    background-image: linear-gradient(257.18deg, rgba(8, 24, 34, 0.85) 16.64%, rgba(54, 95, 101, 0.85) 96.84%), url(../img//contact.png);
    background-position: center;
    background-size: cover;
    padding: 103px 0px 119px 0px;
}
.test-img img{
    border: 4px dashed #31B2C7;
    border-radius: 50%;
    padding: 7px;
}
.test-img1{
    position: relative;
    top: 34%;
}
.add-f a{
    text-decoration: none;
}
.bg-service{
    background-image: linear-gradient(257.87deg, rgba(16, 97, 111, 0.85) 4.62%, rgba(14, 31, 34, 0.85) 71.84%), url(../img/service-banner.png);
    background-size: cover;
    background-position: center;
    padding: 138px 0px 120px 0px;
}
.sd-bg::before{
    background-image: url(../img/Rectangle-bg.svg);
    content: "";
    left: 6%;
    height: 479.612px;
    position: absolute;
    z-index: -2;
    width: 75.95px;
    margin-top: -24px;
    
}
.sd-bg::after{
    background-color: var(--primary);
    content: "";
    left: 46%;
    height: 80.15px;
    position: absolute;
    z-index: -2;
    top: 34rem;
    width: 106.338px;
    
}
.service-curve {
    right: 15%;
    position: relative;
    top: -8%;
}
.service-curve-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -93px;
    margin-bottom: -88px;
}
.service-curve-2{
    left: 82%;
    position: relative;
    top: 8%;
}
.element-ab{
    position: absolute;
    margin-top: -44px;
    left: 44%;
    z-index: -2;
}
.speciality-p{
    padding: 25px 58px 20px 58px;
}
//phone
@media (max-width: 767px){
    .home-sm h1{
        font-size: 30px !important;
    }
    .sd-bg::before{
    background-image: url(../img/Rectangle-bg.svg);
    content: "";
    left: 5%;
    height: 39%;
    position: absolute;
    z-index: -2;
    top: 71%;
    width: 14%;
    }
    .aboutbg::before{
        top: 190%;
        left: 3%;
        height: 7%;
        width: 12%;
    }
    .sd-bg::after{
    background-color: var(--primary);
    content: "";
    left: 75%;
    height: 10%;
    position: absolute;
    z-index: -2;
    top: 73%;
    width: 21%;
    }
    .choose-bg::before{
    height: 52%;
    left: 3%;
    width: 8%;
    margin-top: -16px;
    }
    .healthy-s .p-5{
        padding: 1.5rem !important;
    }
    .choose-bg::after{
        top: 306rem;
        position: absolute;
        height: 10%;
        left: 85%;
        width: 13%;
    }
    .choose-bg1::after{
        display: none;
    }
    .sd-bg img{
        padding: 14px;
    }
    .speciality-p{
        padding: 25px 0px 0px 0px;
    }
    .second-s{
        margin-top: 7rem;
    }
    .psm-4{
        padding: 1.5rem;
    }
    .sev-2{
        margin-left: 0rem;
    }
    .footer-h5 h5{
     font-size: 16px;
    }
    .logo-sm h6{
        font-size: 14px;
    }
    .add-f span{
        font-size: 14px;
    }
    .ul-l ul li{
        font-size: 14px;
    }
    .footer-text h5{
        font-size: 11px !important;
    }
    .middle-bg{
        padding: 45px 0px 56px 0px;
        margin-top: 4rem;
    }
    .service-curve-2{
        left: 75%;
    }
    .service-curve{
        right: 20%;
    }
    .test-img1{
        position: static;
        top: 34%;
    }
    .bg-chooseleft{
        height: 300px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .feature-h img{
        width: 44px !important;
    }
    .footer-h5 h5{
        font-size: 12px;
       }
       .logo-sm h6{
           font-size: 10px;
       }
       .add-f span{
           font-size: 10px;
       }
       .ul-l ul li{
           font-size: 10px;
       }
    .middle-bg h1{
        font-size: 18px;
    }
    .sev-2{
        margin-left: 0rem;
    }
    .middle-bg p{
        font-size: 12px;
    }
    .speciality-p{
        padding: 25px 11px 20px 28px;
    }
    .middle-bg{
        padding: 15px 0px 30px 0px;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .sev-2 {
        margin-left: -1rem;
    }

}
@media (min-width: 1200px){
    h2{
        font-size: 2.8125rem;
    }
}